<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
 
  <extension
         point="org.eclipse.ui.exportWizards">
     <category
            name="%category.name"
            id="com.myeclipsedev.export.ui">
      </category>         
    <wizard
            name="%wizard.name"
            icon="icons/full/ctool16/exportwar_wiz.gif"
            class="com.myeclipsedev.ui.internal.wizard.WebComponentExportWizard"
            category="com.myeclipsedev.export.ui"
            id="com.myeclipsedev.ui.internal.wizard.WebComponentExportWizard">
         <description>
            %wizard.description
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
    </extension>

</plugin>
